{% load app_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
<div id="content">
    {% include "app/header.html" %}
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h2>My blog</h2>
    <p>Number of posts: {% total_posts %}</p>
    <h3>Newest posts</h3>
    {% show_latest_posts 3 %}
</div>
</body>
</html>